body {
    font-family: "open_sanssemibold", "proxima_nova_sbold_cyrillic", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #1d9de0;
}

a:hover {
    text-decoration: underline;
}

.page-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    grid-gap: 20px;
    grid-template-areas: "intro intro intro intro" "overview overview quick quick" "sdk sdk sdk sdk" "webhook webhook . .";
    max-width: 50rem;
    margin: auto;
}

.item {
    border: 1px solid #0e2947;
    border-radius: 3px;
    padding: 10px;
}

.intro {
    grid-area: intro;
    /* grid-column: 1/5; */
    /* grid-column: span 4; */
}

.overview {
    grid-area: overview;
    /* grid-column: 1/3; */
}

.quick-start {
    grid-area: quick;
    /* grid-column: 3/5; */
}

.sdks {
    grid-area: sdk;
    /* grid-column: 1/5; */
}

.webhooks {
    grid-area: webhook;
    /* grid-column: 1/3; */
}

.integrations {
    /* grid-area: integrations; */
}

.sdk_container {
    color: white;
    border: 1px solid #d0d2d3;
    background-color: #25c151;
    padding: 30px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 3px;
}

.sdk_container a {
    color: white;
}

.sdk_container_title {
    font-weight: bold;
    font-size: 1.2em;
}

#sdk_table_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}